/* RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*COMMON*/
html {
    font-family: 'Lato', sans-serif;
}



.clearfix::after{
    content: "";
    display: table;
    clear: both;
}


.font-1{
    font-size: 0.7em;
}

.font-2{
    font-size: 0.6em;
    color: lightgray;
}
/*CONTENITORE PAGINA*/
.page-container{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(213,219,217,255);
}

/* MAIN*/
main{
    width: 100%;
    height: calc(100% - 80px);
    overflow: hidden;
    background-color: rgba(213,219,217,255);
    position: relative;
    
}


.main-header{
    height: 80px;
    background-color: rgba(0,150,136,255);
}
/*COTENITORE APP*/
.app-container{
    width: 80%;
    height: 100%;
    min-width: 900px;
    position: absolute;
    left: 10%;
    top: 3%;
    z-index: 999;
}
/*SEZIONE CONTATTI*/
.left-header, .right-header{
    height: 50px;
    background-color: rgba(234,234,234,255);
}


.left-side{
    float: left;
    background-color: white;
    width: 35%;
    height: 100%;
}
/*UTENTE*/
.left-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-icons{
    display: flex;
    justify-content: space-between;
    margin-right: 1em;
    
}

.left-icons i{
    padding: 0 0.5em;
    color: rgba(177,177,177,255);
}

.img-header{
    width: 10%;
    border-radius: 50%;
    margin-left: 0.5em;
}


.user-image{
    display: flex;
    align-items: center;
}
/*NOTIFICHE*/
.notifiche{
    height: 60px;
    background-color: rgba(142,218,252,255);
    display: flex;
    align-items: center;
}

.bell{
    display: flex;
    align-items: center;
}

.bell i{
    font-size: 1em;
    color: rgba(142,218,252,255);;
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50%;
    line-height: 35px;
    text-align: center;
    margin-right: 0.2em;
    margin-left: 1.3em;
}

/*RICERCA CONTATTO*/
.search{
    background-color: #f8f4f4;
}

.search-input{
    display: flex;
    border: 1px solid #f8f4f4;
    border-radius: 20px;
    overflow: hidden;
}

.search-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    
}

.input-bar{
    width: 85%;
    padding: 5px 10px;
    border: none;
}

/*LISTA CONTATTI*/
.contacts{
    width: 100%;
    height: calc(100% - 100px);
    overflow-y: scroll;
}

.active{
    background-color: rgba(233,235,235,255);
}

.user-info{
    position: relative;
    display: flex;
    align-items: flex-start;
}

.contact-img img{
    width: 12%;
    border-radius: 50%;
    margin-top: 0.3em;
    margin-left: 1.3em;
}

.contact-details{
    position: absolute;
    top:5px;
    left: 70px;
}
/*SEZIONE MESSAGGI*/
.right-side{
    float: left;
    width: calc(100% - 35%);
    height: 100%;
}

.right-header{
    display: flex;
    justify-content: space-between;
}

.right-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(177,177,177,255);
    margin-right: 20px;
}

.right-icons i{
    padding: 6px;
}


.img-header-2{
    width: 5%;
    border-radius: 50%;
    margin-right: 10px;
}


.messages{
    flex-grow: 1;
    height: calc(100% - 120px);
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
}

.message-sent{
    display: flex;
    justify-content: flex-end;
}

.message-received{
   display: flex;
   justify-content: flex-start;
}

.message-box{
    width: 150px;
    height: 50px;
    margin: 15px 40px;
    background-color:  rgba(213,249,186,255);
    padding: 5px;
    border-radius: 7px;
}

.message-box p{
    margin-bottom: 20px;
}

.message-box-2{
    width: 150px;
    height: 50px;
    margin: 15px 40px;
    background-color: white;
    padding: 5px;
    border-radius: 7px;
}

.mess-time{
    text-align: right;
}

/*SCRITTURA MESSAGGIO*/
.typing-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: rgba(234,234,234,255);
    
}

.typing-bar input{
    width: 80%;
    height: 40px;
    border: none;
}


.typing-bar i{
    margin: 0 15px;
    color: rgba(177,177,177,255);
}

