<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/plugin/utc.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.8.25/plugin/customParseFormat.js"></script>
</head>
<body>
    <div id="root">
        <div class="page-container">
        <main class="main-container">
            <div class="main-header"></div>
            <section class="app-container clearfix">
                <div class="left-side">
                    <div class="left-header">
                        <div class="user-image">
                        <img class="img-header" src="img/avatar_io.jpg" alt="">
                        <span class="font-1">Sofia</span>
                        </div>
                        <div class="left-icons">
                            <div><i class="fas fa-circle-notch"></i></div>
                            <div><i class="fas fa-comment-alt"></i></div>
                            <div><i class="fas fa-ellipsis-v"></i></div>
                        </div>
                    </div>
                    <div class="notifiche">
                        <div class="bell">
                            <i class="fas fa-bell-slash"></i>
                            <div><p class="font-1">Ricevi notifiche di nuovi messaggi</p>
                                <a href=""><p class="font-1">Attiva notifiche desktop</p></a>
                            </div>
                        </div>
                    </div>
                    <div class="search">
                        <div class="search-input">
                        <label class="search-image" for=""><i class="fas fa-search"></i></label>
                        <input class="input-bar" type="text" placeholder="Cerca o inizia una nuova chat" v-model="searchContact" @keyup="filterContact()">
                        </div>
                    </div>
                    <div class="contacts">
                        <div 
                        :class="{  'active': contact===index }" 
                        v-for="(element, index) in contacts" 
                        @click="selectUser(index)" v-if="element.visible">
                            <div class="user-info">
                                <div class="contact-img">
                                    <img :src="'img/avatar' +element.avatar+ '.jpg'" :alt="element.name">
                                </div>
                                <div class="contact-details">
                                    <p class="font-1">{{element.name}}</p>
                                    <span class="font-2">Ultimo messaggio inviato</span>
                                </div>
                                <div class="message-time">
                                    <span class="font-2">12:00</span>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
                <div class="right-side">
                    <div class="right-header">
                        <div class="user-image">
                            <img class="img-header-2" :src="'img/avatar' + contacts[contact].avatar + '.jpg'" alt="">
                            <p class="font-1">{{contacts[contact].name}}</p>
                            <span class="font-2">Ultimo aggiornamento oggi alle 12:00</span>
                            </div>
                            <div class="right-icons">
                                <div><i class="fas fa-search"></i></div>
                                <div><i class="fas fa-paperclip"></i></div>
                                <div><i class="fas fa-ellipsis-v"></i></div>
                            </div>
                    </div>
                    <div class="messages">
                        <div v-for="element in contacts[contact].messages" class="message-sent" :class="element.status === 'sent' ? 'message-sent' : 'message-received'">
                        <div class="message-box">
                            <p class="font-1">{{ element.message }}</p>
                            <div class="mess-time font-2">{{ element.date }}</div>
                        </div>
                        </div>
                   <!-- <div class="message-received">
                        <div class="message-box-2">
                            <p class="font-1">Lorem ipsum dolor sit amet, consectetur adipisicing</p>
                            <div class="mess-time font-2">12.00</div>
                        </div>
                        </div>-->
                    </div>
                    <div class="typing-bar">
                            <i class="far fa-smile"></i>
                            <input @keyup.enter ="displayText()" type="text" placeholder="scrivi un messaggio" v-model="newText">
                            <i class="fas fa-microphone"></i>
                    </div>
                </div>
            </section>
        </main>
        </div>
    </div>

    <script src="js/script.js"></script>
</body>
</html>